* {
    box-sizing: border-box;
}



html,
body {
    display: flex;
}



.parent {
    background-color: dodgerblue;
    width: 500px;
    font-size: 20px;
}







.chultj2 {
    background-color: rgb(255, 0, 51);
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: 10px;
    height: 10em;
}